main {
  width: 660px;
  height: 510px;
  margin: auto;
  margin-top: 90px;
  border: 2px solid #FFAD0E;
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

main a {
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
}

.topnav {
  display: flex;
  justify-content: center;
}

.topnav-logo-name {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #FFAD0E;
  margin-top: 15px;
}

.topnav-logo {
  width: 94px;
}

.content {
  display: flex;
  justify-content: center;

  text-decoration: none;
}

.content-form {
  display: grid;
}

.content-form1 {
  display: grid;
  justify-items: center;
}

.content-form2 {
  display: grid;
  justify-items: center;
}

.content-form3 {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}

.content-form3 input {
  width: 130px;
  height: 25px;
  border-radius: 15px;
  border: 1px solid #ffad0e;
}

.content-msg {
  color: #000;
  font-family: "Poppins-Bold", Helvetica;
  font-size: 20px;
  font-weight: 600;

  margin-bottom: 25px;
  margin-top: 25px;
}

.rectangle {
  width: 250px;
  height: 35px;
  border-radius: 15px;
  border: 1px solid #ffad0e;
  font-size: 20px;
  text-align: center;
  font-family: "Poppins-Bold", Helvetica;
}

.error-message {
  text-align: center;
}

@media (max-width: 700px) {
  main {
    width: 450px;
    height: 510px;
    margin-top: 80px;
  }
}

@media (max-width: 480px) {
  main {
    width: 300px;
  } 
}