{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'globals.css' %}" />
    <link rel="stylesheet" href="{% static 'h-folder/styles.css' %}" />
    <title>Home</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <section class="header-section">
          <img class="header-logo" src="{% static 'images/logo.png' %}">
          <a class="header-logo-name" href="{% url 'home' %}">Health it!</a>
        </section>
        <button class="header-hamburguer"></button>
        <ul class="nav-list">
          <img src="{% static 'images/linestroke1.svg' %}" />
          <section class="header-section">
            <li><a href="{% url 'forms' %}">Avaliação</a></li>
          </section>
          <img src="{% static 'images/linestroke1.svg' %}" />
          <section class="header-section">
            <li><a href="{% url 'dashboard' %}">Sua Saúde</a></li>
          </section>
          <img src="{% static 'images/linestroke1.svg' %}" />
          <section class="header-section">
            <li><a href="{% url 'login' %}">Entrar</a></li>
          </section>
          <img src="{% static 'images/linestroke1.svg' %}" />
        </ul>
      </nav>
    </header>
    {% if request.user.is_authenticated %}
      Bem vindo, <b>{{request.user.username}}</b><br>
      <a href="/users/logout"> Logout </a>
    {% endif %}
    {% if not request.user.is_authenticated %}
      Você não está logado<br>
      <a href="/users/login"> Login </a>
    {% endif %}
    <main>
      
      <div class="sobre_nos">
        <div class="imgs">
          <div class="imagem1">
            <img class="imagem__conheca" src="{% static 'images/sobre_nos/conheca_img.jpg' %}" alt="Conheca">
            <div class ="conheca__overlay">
              <div class="conheca_txt">CONHEÇA</div>
            </div>
          </div>
        </div>
        <div class="imgs">
          <div class="imagem2">
            <img class="imagem__cuide" src="{% static 'images/sobre_nos/cuidenovo.png' %}" alt="Cuide">
            <div class ="cuide__overlay">
              <div class="cuide_txt">CUIDE</div>
            </div>
          </div>
          <div class="imagem3">
            <img class="imagem__mude" src="{% static 'images/sobre_nos/mude_img.webp' %}" alt="Mude">
            <div class ="mude__overlay">
              <div class="mude_txt">MUDE</div>
            </div>
          </div>
        </div>
        <div class="sobre_nos__master">
          <div class="sobre_nos__title">
            Sobre nós
          </div>
          <div class="sobre_nos__text">
            Mussum Ipsum, cacilds vidis litro abertis. Eu nunca mais boto a boca num copo de cachaça, agora eu só uso canudis! Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis. Mais vale um bebadis conhecidiss, que um alcoolatra anonimis. Paisis, filhis, espiritis santis.
            Ajudando a cada dia mais e mais pessoas a melhorar a qualidade de vida, nós somos uma plataforma na qual você pode ter total controle da sua saúde.  
            Health It! é muito mais que um site ou aplicativo. Nós somos um estilo de vida, afinal,
          </div>
          <div class="sobre_nos__subtitle">
          Acompanhar é cuidar.
          </div>
        </div>
  
  
  
  
      </div>
    </main>
    
    <script src="{% static 'scripts.js' %}"></script>
  </body>
</html>
