{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'globals.css' %}" />
  <link rel="stylesheet" href="{% static 'pw-folder/reset-pw-confirm.css' %}" />
  <title>Reset Confirm</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <section class="header-section">
        <img class="header-logo" src="{% static 'images/logo.png' %}">
        <a class="header-logo-name" href="{% url 'home' %}">Health it!</a>
      </section>
      <button class="header-hamburguer"></button>
      <ul class="nav-list">
        <img src="{% static 'images/linestroke1.svg' %}" />
        <section class="header-section">
          <li><a href="{% url 'forms' %}">Avaliação</a></li>
        </section>
        <img src="{% static 'images/linestroke1.svg' %}" />
        <section class="header-section">
          <li><a href="{% url 'dashboard' %}">Sua Saúde</a></li>
        </section>
        <img src="{% static 'images/linestroke1.svg' %}" />
        <section class="header-section">
          <li><a href="{% url 'login' %}">Entrar</a></li>
        </section>
        <img src="{% static 'images/linestroke1.svg' %}" />
      </ul>
    </nav>
  </header>
  <main>
    <div class="topnav">
      <a class="topnav-logo-name" href="#">Health it!</a>
    </div>
    <div class="topnav">
      <img class="topnav-logo" src="{% static 'images/logo.png' %}">
    </div>
    <div class="content">
      <div>
        <form method="post">
          {% csrf_token %}
          <div class="content-form1">
            <label class="content-msg" for="new_password1">Digite sua nova senha</label>
            <input class="rectangle" id="new_password1" type="password" name="new_password1" autocomplete="new-password" required="true">
          </div>
          <div class="content-form2">
            <label class="content-msg" for="new_password2">Confirmar sua nova senha</label>
            <input class="rectangle" id="new_password2" type="password" name="new_password2" autocomplete="new-password" required="true">
          </div>
          <div>
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            {% endfor %}
          </div>
          <div class="content-form3">
            <input type="submit" value="Mudar senha">
          </div>
        </form>
      </div>
    </div>
  </main>
  <script src="{% static 'scripts.js' %}"></script>
</body>
</html>