{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'globals.css' %}" />
  <link rel="stylesheet" href="{% static 'pw-folder/reset-pw.css' %}" />
  <title>Reset Password</title>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <section class="header-section">
        <img class="header-logo" src="{% static 'images/logo.png' %}">
        <a class="header-logo-name" href="{% url 'home' %}">Health it!</a>
      </section>
      <button class="header-hamburguer"></button>
      <ul class="nav-list">
        <img src="{% static 'images/linestroke1.svg' %}" />
        <section class="header-section">
          <li><a href="{% url 'forms' %}">Avaliação</a></li>
        </section>
        <img src="{% static 'images/linestroke1.svg' %}" />
        <section class="header-section">
          <li><a href="{% url 'dashboard' %}">Sua Saúde</a></li>
        </section>
        <img src="{% static 'images/linestroke1.svg' %}" />
        <section class="header-section">
          <li><a href="{% url 'login' %}">Entrar</a></li>
        </section>
        <img src="{% static 'images/linestroke1.svg' %}" />
      </ul>
    </nav>
  </header>
  <main>
    <div class="topnav">
      <a class="topnav-logo-name" href="#">Health it!</a>
    </div>
    <div class="topnav">
      <img class="topnav-logo" src="{% static 'images/logo.png' %}">
    </div>
    <div class="content">
      <div class="content-msg">Digite seu endereço de e-mail para iniciar o processo de recuperação de senha.</div>
      <div class="content-email">
        <form method="post">
          {% csrf_token %}
          <div class="form-email">
            <label for="email">Email</label>
            <input  id="email" class="rectangle" type="email" name="email">
          </div>

          <div class="content-submit">
            <input type="submit" value="Recuperar senha">
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <div class="footer-links">
        <a href="{% url 'login' %}" rel="noopener noreferrer">Login</a>
        <a href="{% url 'register' %}" rel="noopener noreferrer">Registrar</a>
      </div>
    </div>
  </main>
  <script src="{% static 'scripts.js' %}"></script>
</body>
</html>